.card_btn__login {
  margin-right: 10px
}

input.input__yellow {
  color: #fff !important;
  border-bottom: 1px solid #fff !important;
  box-shadow: 0 1px 0 0 #fff !important;
}

input.input__yellow + label {
  color: #fff !important;
}

input.input__yellow:focus + label {
  color: rgb(255, 230, 0) !important;
}

input.input__yellow:focus {
  border-bottom: 1px solid rgb(255, 230, 0) !important;
  box-shadow: 0 1px 0 rgb(255, 230, 0) !important;
}